<%= form_with(model: fragment, local: true) do |form| %>
  <% if fragment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fragment.errors.count, "error") %> prohibited this fragment from being saved:</h2>

      <ul>
      <% fragment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_area :value, id: :fragment_value %>
  </div>

  <div class="field">
    <%= form.label :private %>
    <%= form.check_box :private, id: :fragment_private %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
